
<div class="modal-content">
    <div class="modal-header">
        <button class="close" aria-hidden="true" type="button" data-dismiss="modal"></button>
        <h4 id="modalNuevaNovedadHeader" class="modal-title">Buscar direccion</h4>
    </div>

    <iframe id="addressIframe" width="785" frameborder="0" style="border:0"
            src='@Url.Action("AutoCompleteAddressForm","GoogleMaps")' allowfullscreen></iframe>

    <div class="modal-footer">
        <button class="btn dark btn-outline simplemodal-close" type="button" data-dismiss="modal">Close</button>
        <button id="btnLocalizar" class="btn green" type="button">Localizar</button>
    </div>

</div>

<script>
    $("#btnLocalizar").click(function () {
        var direccion = $("#addressIframe").contents().find("#autocomplete").val();
        alert(direccion);
        $("#Cliente_Direccion").val(direccion);
        $(".simplemodal-close").trigger("click");
    });
</script>

