<div class="modal-content">
    <div class="modal-header">
        <button class="close" aria-hidden="true" type="button" data-dismiss="modal"></button>
        <h4 id="modalNuevaNovedadHeader" class="modal-title">Buscar direccion</h4>
    </div>
   
    <iframe width="785" height="475" frameborder="0" style="border:0"
            src='@Url.Action("SearchMap","GoogleMaps")' allowfullscreen></iframe>
   
    <div class="modal-footer">
        <button class="btn dark btn-outline simplemodal-close" type="button" data-dismiss="modal">Close</button>
        <button id="btnSubmitNovedad" class="btn green" type="submit">Aceptar</button>
    </div>
</div>
