@model FastService.Models.Orden.IIndexModel

<div class="row">

    <div id="listaOrdenes" class="col-xs-2">
        @RenderPage("ListaOrdenes.cshtml", Model)
    </div>

    <div class="col-md-8 OrdenDetailBody">
    </div>

    <div id="PanelAccion" class="col-md-2">
        @RenderPage("~/Views/Shared/PanelAccion.cshtml")
    </div>
</div>

<style>
    hr {
        margin-top: 3px !important;
        margin-bottom: 3px !important;
    }

    /*.OrdenDetailBody {
        background-color: #EDEEF0;
        border-radius: 10px !important;
        margin-top: 10px;
    }*/

    .OrdenHeader {
        font-size: large;
        font-style: normal;
    }

    .OrdenListNro {
        font-size: large;
        font-style: normal;
    }

    .OrdenListSummary {
        font-size: medium;
        font-style: normal;
    }

    .OrdenListHints {
        font-size: medium;
        font-style: normal;
    }

    .li-ver-orden {
        padding-left: 5px;
        padding-right: 5px;
    }

    .ListaOrdenes {
        margin-top: 10px;
        max-height: 800px;
        overflow-y: scroll;
    }
</style>

<script>
    $("#ddlFilterByTecnico").change(function (e) {
            ajaxGetNoCustomError(
                "@Url.Action("FilterByTecnico","Reparacion")/?id=" + $("#ddlFilterByTecnico").val(),
                function (data) {
                    $(".page-content").html(data)
                }
            );
    });

    $("#ddlFilterByComercio").change(function (e) {
        ajaxGetNoCustomError(
            "@Url.Action("FilterByComercio","Reparacion")/?id=" + $("#ddlFilterByTecnico").val(),
            function (data) {
                $(".page-content").html(data)
            }
        );
    });
</script>

