@model FastService.Models.Orden.IIndexModel
<div class="row">
    <div class="col-lg-12">

        <div id="modalNuevaNovedad" class="modal" aria-hidden="true" style="display: none;">

        </div>
    </div>
</div>

<div class="row">

    <div id="listaOrdenes" class="col-xs-2">
        @RenderPage("MiListaOrdenes.cshtml", Model)
    </div>

    <div class="col-md-8 OrdenDetailBody">
    </div>

    <div id="PanelAccion" class="col-md-2">
        @RenderPage("~/Views/Shared/PanelAccion.cshtml")
    </div>
</div>

<style>
    hr {
        margin-top: 3px !important;
        margin-bottom: 3px !important;
    }

    /*.OrdenDetailBody {
        background-color: #EDEEF0;
        border-radius: 10px !important;
        margin-top: 10px;
    }*/

</style>
