@model FastService.Models.OrdenesIndexViewModel

<h3>Acciones</h3>
<button> TEST </button>

<button> TEST </button>

<button> TEST </button>

<button> TEST </button>

<button> TEST </button>

<button> TEST </button>

<button> TEST </button>