<div class="row">
    <div class="col-lg-12">
        <div id="ModalOrdenDetail" class="modal DetailModal" aria-hidden="true" style="display: none;">
            <div class="modal-header">
                <button id="btnCloseModalTicket" class="close" aria-hidden="true" type="button" data-dismiss="modal"></button>
                <h4 id="OrdenDetailHeader" class="modal-title">Ticket Detalle</h4>
            </div>

            <div id="OrdenModalContent" class="modal-body">
                <div class="col-md-10 OrdenDetailBody">

                </div>

                <div id="PanelAccion" class="col-md-2">
                    @RenderPage("~/Views/Shared/PanelAccion.cshtml")
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $("#btnCloseModalTicket").click(function () {
        $(".OrdenDetailBody").html("");
    });
</script>

<style>
    .DetailModal {
        position: fixed;
        top: 5% !important;
        left: 25% !important;
        width: 85% !important;
        z-index: 100000;
    }
</style>
