<div class="row">
    <div class="col-lg-12">

        <div class="modal fade" id="modalSuccess" role="basic" aria-hidden="true" style="display: none;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" type="button" data-dismiss="modal"></button>
                    <h3 class="modal-title">Listo!</h3>
                </div>
                <i class="glyphicon glyphicon-ok-circle successIcon"></i>
                <div class="modal-body successMessage text-center"> Tus cambios se guardaron!</div>
                <div class="modal-footer">
                    <button class="btn dark btn-outline btn-info" type="button" data-dismiss="modal">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .successIcon {
        font-size: 200px !important;
        color: lightseagreen;
        margin-top: 20%;
        margin-left: 30%;
    }

    .successMessage {
        font-size: 25px !important;
    }

    #modalSuccess {
        margin-top: 50px;
        z-index: 210000;
    }
</style>

