<div id="spinner" class="spinner">
    <span class="inner"></span>
    <span class="inner"></span>
    <span class="inner"></span>
    <div class="modal-backdrop in" display="none"></div>
</div>

<style>
    #spinner {
        z-index: 200000;
    }
</style>