@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Oops! Ocurrio un error, contacte a su suporte técnico.</h2>
<h3> Error detail:  @ViewBag.Error </h3>

<h4> Error detail:  @ViewBag.Message </h4>
