<div class="panel-accion-aligned">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs actionTabs" role="tablist">
        <li role="presentation" class="active"><a href="#admin" aria-controls="home" role="tab" data-toggle="tab">Admin</a></li>
        <li role="presentation"><a href="#tecnico" aria-controls="profile" role="tab" data-toggle="tab">Tecnico</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="admin">
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <input class="btn btn-info btn-md imprimirDorsoBtn" type="button" value="IMPRIMIR DORSO" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <input class="btn btn-info btn-md imprimirBtn" type="button" value="IMPRIMIR" />
                </div>
            </div>
            <br>

            @if (ViewBag.Seguimiento == "false")
            {
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input id="nuevaOrdenBtn" class="btn btn-info btn-md" type="button" value="NUEVA" />
                    </div>
                </div>
                <br>
            }

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="31" class="btn btn-info btn-md reparacionActionButton" type="button" value="INFORM. PRESUP." />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="17" class="btn btn-info btn-md reparacionActionButton" type="button" value="NOTA/RECLAMO" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="12" class="btn btn-info btn-md reparacionActionButton" type="button" value="CORD. ENTREGA" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="24" class="btn btn-info btn-md reparacionActionButton" type="button" value="REINGRESO" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="43" class="btn btn-info btn-md reparacionActionButton" type="button" value="LLAMADO" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="5" class="btn btn-info btn-md reparacionActionButton" type="button" value="RETIRA" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="26" class="btn btn-info btn-md reparacionActionButton" type="button" value="SENA" />
                </div>
            </div>
            <br>
        </div>

        <div role="tabpanel" class="tab-pane" id="tecnico">
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <input class="btn btn-info btn-md imprimirDorsoBtn" type="button" value="IMPRIMIR DORSO" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <input class="btn btn-info btn-md imprimirBtn" type="button" value="IMPRIMIR" />
                </div>
            </div>
            <br>
            @if (ViewBag.Seguimiento == "false")
            {
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input id="nuevaOrdenBtn" class="btn btn-info btn-md" type="button" value="NUEVA" />
                    </div>
                </div>
                <br>
            }

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="2" class="btn btn-info btn-md reparacionActionButton" type="button" value="PRESUPUESTO" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="6" class="btn btn-info btn-md reparacionActionButton" type="button" value="RECHAZAR" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="4" class="btn btn-info btn-md reparacionActionButton" type="button" value="REPARADO" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="40" class="btn btn-info btn-md reparacionActionButton" type="button" value="REP. EN DOMICILIO" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="17" class="btn btn-info btn-md reparacionActionButton" type="button" value="NOTA/RECLAMO" />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="16" class="btn btn-info btn-md reparacionActionButton" type="button" value="ESPERA RPTO." />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <input data-tipo="40" class="btn btn-info btn-md reparacionActionButton" type="button" value="REP. DOMICILIO" />
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<style>
    .panel-accion-aligned input {
        width: 150px !important;
        border-radius: 5px !important;
    }

</style>

<script>
    $('.actionTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

    $("#nuevaOrdenBtn").click(function () {
        $("#FlagNuevaOrden").val(true);
        ajaxGetNoCustomError(
            "@Url.Action("Create","Ticket")",
            function (data) {
                $(".page-content .OrdenDetailBody").html(data);
            }
        );
    })

    $(".reparacionActionButton").click(function () {
        ajaxGetNoCustomError(
            "@Url.Action("Create","Novedad")/?tipo=" + $(this).data("tipo") + "&nroOrden=" + $("#ticketid").val(),
            function (data) {
                $("#modalNuevaNovedad").html(data);
                $("#modalNuevaNovedad").modal();
            }
        );
    })

    $(".imprimirBtn").click(function () {
         window.open("@Url.Action("Recibo", "Reporte")/?id=" + $('#ticketid').val(), '_blank');
    })

    $(".imprimirDorsoBtn").click(function () {
         window.open("@Url.Action("Dorso", "Reporte")", '_blank');
    })
</script>